OPENAI_API_KEY=your_openai_api_key_here
PICO_ACCESS_KEY_=your_pico_access_key_here

HUE_APP_KEY=your_hue_app_key_here
HUE_BRIDGE_IP=your_hue_bridge_ip_here

JARVIS_LOG_LEVEL=INFO # not required, defaults to INFO. Set to DEBUG for more verbose logging.